In [1]:
import json
import pandas as pd
import numpy as np

#file_path = "file1.json"
#with open(file_path, "r") as f:
#    data1 = json.load(f)
#len(data1)
#data1[0]['restaurants'][5]

In [2]:
# LISTED DATA INTO DATAFRAME
df1 = pd.DataFrame([row.split(", ") for row in dataF], columns=['Restaurant_Name', 'Restaurant_ID', 'Price_range','Cuisines','Average_cost','Rating_text','Rating_color','Rating_votes','Rating','Address','City','City_id','Country_id','Locality'])

NameError: name 'dataF' is not defined

In [ ]:
df1

In [2]:
import json
def json_function(data):
 dataF=[]   


 for i in data:
    if 'restaurants' in i:
        #print(i)
      for j in i: 
        for j in i['restaurants']:
        #print(j)   
            
            #if 'price_range' in j['restaurant']: 
            price_range1 = (j['restaurant'].get('price_range', 'Key not found'))
            #if 'name' in j['restaurant']:  
            res_name1 = (j['restaurant'].get('name', 'Key not found'))  
            res_id1 = (j['restaurant']['R'].get('res_id', 'Key not found'))   
            cuisines1 = (j['restaurant'].get('cuisines', 'Key not found').replace(",", " "))
            average_cost1 = (j['restaurant'].get('average_cost_for_two', 'Key not found'))
            
            rating_text1 = (j['restaurant']['user_rating'].get('rating_text', 'Key not found'))
            rating_color1 = (j['restaurant']['user_rating'].get('rating_color', 'Key not found'))
            rating_votes1 = (j['restaurant']['user_rating'].get('votes', 'Key not found'))
            rating_aggre1 = (j['restaurant']['user_rating'].get('aggregate_rating', 'Key not found'))
            
            #for l in j['restaurant']['location']:    
            address1 = (j['restaurant']['location'].get('address', 'Key not found').replace(",", " "))  
            city1 = (j['restaurant']['location'].get('city', 'Key not found').replace(",", " "))
            country_id1 = (j['restaurant']['location'].get('country_id', 'Key not found'))
            locality_verbose1 = (j['restaurant']['location'].get('locality_verbose', 'Key not found').replace(",", " "))
            city_id1 = (j['restaurant']['location'].get('city_id', 'Key not found'))
            
        #print(price_range1,", ",res_name1,", ",res_id1,", ",address1,".")      
            print_data= (res_name1, res_id1, price_range1, cuisines1,average_cost1, rating_text1, rating_color1, rating_votes1, rating_aggre1, address1, city1, city_id1, country_id1, locality_verbose1)    
            dataF.append(", ".join(map(str, print_data)))        
            # LISTED DATA INTO DATAFRAME
            
  
 return dataF



file_path1 = 'file1.json'
with open(file_path1, "r") as a:
 data1 = json.load(a)
returned_data1 =  json_function(data1) 
df1 = pd.DataFrame([row.split(", ") for row in returned_data1], columns=['Restaurant_Name', 'Restaurant_ID', 'Price_range','Cuisines','Average_cost','Rating_text',
                                                               'Rating_color','Rating_votes','Rating','Address','City','City_id','Country_id','Locality'])

#------------------------------------------------------
file_path2 = 'file2.json'
with open(file_path2, "r") as b:
 data2 = json.load(b)
returned_data2 =  json_function(data2)

max_columns = 14  # or whatever your intended number of columns is
dataF2_fixed = []

for row in returned_data2:
    row_values = row.split(',')
    if len(row_values) > max_columns:
        row_values = row_values[:max_columns]  # Truncate to the desired number of columns
    elif len(row_values) < max_columns:
        row_values.extend([''] * (max_columns - len(row_values)))  # Add empty values for missing columns
    dataF2_fixed.append(row_values)

# Now create the DataFrame with consistent data
df2 = pd.DataFrame(dataF2_fixed, columns=['Restaurant_Name', 'Restaurant_ID', 'Price_range', 'Cuisines', 'Average_cost',
                                           'Rating_text', 'Rating_color', 'Rating_votes', 'Rating', 'Address', 'City',
                                           'City_id', 'Country_id', 'Locality'])
#------------------------------------------------------
file_path3 = 'file3.json'
with open(file_path3, "r") as c:
 data3 = json.load(c)
returned_data3=  json_function(data3)

max_columns = 14  # or whatever your intended number of columns is
dataF3_fixed = []

for row in returned_data3:
    row_values = row.split(',')
    if len(row_values) > max_columns:
        row_values = row_values[:max_columns]  # Truncate to the desired number of columns
    elif len(row_values) < max_columns:
        row_values.extend([''] * (max_columns - len(row_values)))  # Add empty values for missing columns
    dataF3_fixed.append(row_values)

# Now create the DataFrame with consistent data
df3 = pd.DataFrame(dataF3_fixed, columns=['Restaurant_Name', 'Restaurant_ID', 'Price_range', 'Cuisines', 'Average_cost',
                                           'Rating_text', 'Rating_color', 'Rating_votes', 'Rating', 'Address', 'City',
                                           'City_id', 'Country_id', 'Locality'])

#----------------------------------------------------
file_path4 = 'file4.json'
with open(file_path4, "r") as d:
 data4 = json.load(d)
returned_data4 =  json_function(data4)

max_columns = 14  # or whatever your intended number of columns is
dataF4_fixed = []

for row in returned_data4:
    row_values = row.split(',')
    if len(row_values) > max_columns:
        row_values = row_values[:max_columns]  # Truncate to the desired number of columns
    elif len(row_values) < max_columns:
        row_values.extend([''] * (max_columns - len(row_values)))  # Add empty values for missing columns
    dataF4_fixed.append(row_values)

# Now create the DataFrame with consistent data
df4 = pd.DataFrame(dataF4_fixed, columns=['Restaurant_Name', 'Restaurant_ID', 'Price_range', 'Cuisines', 'Average_cost',
                                           'Rating_text', 'Rating_color', 'Rating_votes', 'Rating', 'Address', 'City',
                                           'City_id', 'Country_id', 'Locality'])

#-----------------------------------------
file_path5 = 'file5.json'
with open(file_path5, "r") as e:
 data5 = json.load(e)
returned_data5 =  json_function(data5)

max_columns = 14  # or whatever your intended number of columns is
dataF5_fixed = []

for row in returned_data5:
    row_values = row.split(',')
    if len(row_values) > max_columns:
        row_values = row_values[:max_columns]  # Truncate to the desired number of columns
    elif len(row_values) < max_columns:
        row_values.extend([''] * (max_columns - len(row_values)))  # Add empty values for missing columns
    dataF5_fixed.append(row_values)

# Now create the DataFrame with consistent data
df5 = pd.DataFrame(dataF5_fixed, columns=['Restaurant_Name', 'Restaurant_ID', 'Price_range', 'Cuisines', 'Average_cost',
                                           'Rating_text', 'Rating_color', 'Rating_votes', 'Rating', 'Address', 'City',
                                           'City_id', 'Country_id', 'Locality'])

In [3]:
df_concat = pd.concat([df1, df2,df3,df4,df5], ignore_index=True)

df_original = df_concat.drop_duplicates(ignore_index=True)

In [4]:
df_original.head()

,Restaurant_Name,Restaurant_ID,Price_range,Cuisines,Average_cost,Rating_text,Rating_color,Rating_votes,Rating,Address,City,City_id,Country_id,Locality
0,Hauz Khas Social,308322,3,Continental American Asian North Indian,1600,Very Good,5BA829,7931,4.3,9-A & 12 Hauz Khas Village New Delhi,New Delhi,1,1,Hauz Khas Village New Delhi
1,Qubitos - The Terrace Cafe,18037817,3,Thai European Mexican North Indian Chinese...,1500,Excellent,3F7E00,778,4.5,C-7 Vishal Enclave Opposite Metro Pillar 417...,New Delhi,1,1,Rajouri Garden New Delhi
2,The Hudson Cafe,312345,2,Cafe Italian Continental Chinese,850,Very Good,5BA829,1537,4.4,2524 1st Floor Hudson Lane Delhi University...,New Delhi,1,1,Delhi University-GTB Nagar New Delhi
3,Summer House Cafe,307490,3,Italian Continental,1850,Very Good,5BA829,1823,4.1,1st Floor DDA Shopping Complex Aurobindo Pla...,New Delhi,1,1,Hauz Khas New Delhi
4,38 Barracks,18241537,3,North Indian Italian Asian American,1600,Very Good,5BA829,840,4.4,M-38 Outer Circle Connaught Place New Delhi,New Delhi,1,1,Connaught Place New Delhi

In [16]:
pd.set_option('display.max_rows', None)
viz =df_original[['City', 'City_id']].drop_duplicates()
viz

,City,City_id
0,New Delhi,1
6,Gurgaon,1
20,Kolkata,2
40,Mumbai,3
60,Bangalore,4
80,Pune,5
100,Hyderabad,6
112,Secunderabad,6
120,Chennai,7
140,Lucknow,8
160,Kochi,9
180,Jaipur,10
200,Ahmedabad,11
220,Chandigarh,12
232,Mohali,12
233,Panchkula,12
240,Goa,13
260,Indore,14
280,Nashik,16
300,Ludhiana,20
320,Guwahati,21
340,Amritsar,22
360,Kanpur,23
380,Allahabad,24
400,Aurangabad,25
420,Bhopal,26
440,Ranchi,27
460,Vizag,28
480,Bhubaneshwar,29
500,Coimbatore,30
520,Mangalore,31
540,Vadodara,32
560,Nagpur,33
580,Agra,34
600,Dehradun,35
620,Mysore,36
640,Puducherry,37
660,Surat,38
680,Varanasi,39
700,Patna,40
720,Dubai,51
740,Singapore,52
760,Sharjah,56
780,Abu Dhabi,57
800,Colombo,58
820,İstanbul,59
840,Ankara,60
860,London,61
880,Doha,62
900,Makati City,63
901,Taguig City,63
902,Mandaluyong City,63
903,Pasay City,63
907,Pasig City,63
910,Quezon City,63
912,Tagaytay City,63
914,San Juan City,63
920,Cape Town,64
940,Sandton,65
942,Johannesburg,65
947,Inner City,65
959,Randburg,65
960,Brasília,66
980,São Paulo,67
1000,Manchester,68
1020,Birmingham,69
1040,Auckland,70
1060,Wellington City,71
1080,Dummy,72
1100,Rio de Janeiro,73
1120,Jakarta,74
1127,Bogor,74
1128,Tangerang,74
1140,Pretoria,75
1160,Edinburgh,76
1180,Yorkton,3600
1181,Lucknow,8
1182,Vernonia,8351
1183,Mayfield,2249
1184,Guwahati,21
1186,Singapore,52
1188,Dicky Beach,2575
1189,Trentham East,1556
1190,Lakes Entrance,1364
1191,Hepburn Springs,1563
1192,Ojo Caliente,7598
1193,Inverloch,1342
1194,Vineland Station,3418
1195,Weirton,10358
1196,Puducherry,37
1197,Potrero,8956
1198,Cochrane,10261
1199,Princeton,3977
1200,New Delhi,1
1224,Gurgaon,1
1891,Shop 68 Vasant Place Market Sector 6 R K P...,New Delhi
1990,93 Opposite Venkateswara College Satyaniket...,New Delhi
2328,115 Central Market Ashok Vihar Phase 1 New...,New Delhi
2733,V 3 S Mall Laxmi Nagar New Delhi,New Delhi
3262,3.5,Level 3 City Square Mall Rajouri Garden Ne...
3828,Noida,1
4366,3.1,D-15 Bhai Ji Market Near Bishanpura Village...
4415,Ghaziabad,1
4731,Faridabad,1
4912,Asian Institute of Medical Sciences Badkal F...,Faridabad
4984,Tanunda,1770
4985,Clatskanie,8410
4987,Fernley,7634
4988,Bhubaneshwar,29
4989,Middleton Beach,1902
4990,Pune,5
4991,Mc Millan,6321
4992,Bandung,11052
4993,Lorn,2242
4994,Victor Harbor,1730
4995,Huskisson,2218
4996,Armidale,2309
4998,Goa,13
4999,Winchester Bay,8327
5000,Forrest,1695
5001,Macedon,1565
5002,Monroe,10238
5448,61-D Ground Floor Ber Sarai Market Opposit...,New Delhi
5894,UB-101 Kamla Nagar New Delhi,New Delhi
5909,B-10 Opposite Metro Pillar 21 Model Town 2 ...,New Delhi
6241,23/1 Prem Nagar Jail Road New Delhi,New Delhi
6264,G-37 Ground Floor Westend Mall Janakpuri ...,New Delhi
6653,Shop 2 Plot 57 Under Dwarka Mor Metro Stati...,New Delhi
7351,Phillip Island,1345
7352,Consort,2824
7353,Santa Rosa,11071
7354,Ahmedabad,11
7355,Amritsar,22
7356,Penola,1800
7357,Beechworth,1424
7358,Chatham-Kent,3525
7359,Paynesville,1353
7360,Miller,8785
7361,East Ballina,2051
7362,Lincoln,943
7363,Montville,2617
7364,Flaxton,2576
7365,Lakeview,8397
7367,Balingup,1924
7369,Palm Cove,2430
7494,3.9,31 2nd Floor Hauz Khas Village New Delhi
8458,Shop 9 Block A2 DDA Market Paschim Vihar ...,New Delhi
8570,C8/354 Sector 8 Rohini New Delhi,New Delhi
9182,Orlando,601
9202,Tampa Bay,604
9222,Pensacola,607
9242,Albany,610
9262,Valdosta,613
9282,Gainesville,616
9302,Savannah,619
9322,Columbus,622
9342,Dalton,625
9362,Augusta,628
9382,Athens,634
9402,Macon,637
9422,Rest of Hawaii,640
9442,Des Moines,643
9462,Davenport,646
9478,793 Middle Rd Bettendorf IA 52722,Davenport
9482,Sioux City,649
9502,Cedar Rapids/Iowa City,652
9522,Waterloo,655
9542,Dubuque,658
9562,Boise,664
9582,Pocatello,667

In [5]:
pd.set_option('display.max_rows', None)
viz1 =df_original[['City_id','Country_id']].drop_duplicates()
viz1

                                                City_id  Country_id
0                                                     1           1
20                                                    2           1
40                                                    3           1
60                                                    4           1
80                                                    5           1
100                                                   6           1
120                                                   7           1
140                                                   8           1
160                                                   9           1
180                                                  10           1
200                                                  11           1
220                                                  12           1
240                                                  13           1
260                                                  14           1
280                                                  16           1
300                                                  20           1
320                                                  21           1
340                                                  22           1
360                                                  23           1
380                                                  24           1
400                                                  25           1
420                                                  26           1
440                                                  27           1
460                                                  28           1
480                                                  29           1
500                                                  30           1
520                                                  31           1
540                                                  32           1
560                                                  33           1
580                                                  34           1
600                                                  35           1
620                                                  36           1
640                                                  37           1
660                                                  38           1
680                                                  39           1
700                                                  40           1
720                                                  51         214
740                                                  52         184
760                                                  56         214
780                                                  57         214
800                                                  58         191
820                                                  59         208
840                                                  60         208
860                                                  61         215
880                                                  62         166
900                                                  63         162
920                                                  64         189
940                                                  65         189
960                                                  66          30
980                                                  67          30
1000                                                 68         215
1020                                                 69         215
1040                                                 70         148
1060                                                 71         148
1080                                                 72          17
1100                                                 73          30
1120                                                 74          94
1140                                                 75         189
1160                                                 76         215
1180                                               3600          37
1181                                                  8           1
1182                                               8351         216
1183                                               2249          14
1184                                                 21           1
1186                                                 52         184
1188                                               2575          14
1189                                               1556          14
1190                                               1364          14
1191                                               1563          14
1192                                               7598         216
1193                                               1342          14
1194                                               3418          37
1195                                              10358         216
1196                                                 37           1
1197                                               8956         216
1198                                              10261         216
1199                                               3977         216
1200                                                  1           1
1891                                          New Delhi           1
3262   Level 3  City Square Mall  Rajouri Garden  Ne...   New Delhi
4366   D-15  Bhai Ji Market  Near Bishanpura Village...       Noida
4912                                          Faridabad           1
4984                                               1770          14
4985                                               8410         216
4987                                               7634         216
4988                                                 29           1
4989                                               1902          14
4990                                                  5           1
4991                                               6321         216
4992                                              11052          94
4993                                               2242          14
4994                                               1730          14
4995                                               2218          14
4996                                               2309          14
4998                                                 13           1
4999                                               8327         216
5000                                               1695          14
5001                                               1565          14
5002                                              10238         216
7351                                               1345          14
7352                                               2824          37
7353                                              11071         162
7354                                                 11           1
7355                                                 22           1
7356                                               1800          14
7357                                               1424          14
7358                                               3525          37
7359                                               1353          14
7360                                               8785         216
7361                                               2051          14
7362                                                943         216
7363                                               2617          14
7364                                               2576          14
7365                                               8397         216
7367                                               1924          14
7369                                               2430          14
7494        31  2nd Floor  Hauz Khas Village  New Delhi   New Delhi
9182                                                601         216
9202                                                604         216
9222                                                607         216
9242                                                610         216
9262                                                613         216
9282                                                616         216
9302                                                619         216
9322                                                622         216
9342                                                625         216
9362                                                628         216
9382                                                634         216
9402                                                637         216
9422                                                640         216
9442                                                643         216
9462                                                646         216
9478                                          Davenport         646
9482                                                649         216
9502                                                652         216
9522                                                655         216
9542                                                658         216
9562                                                664         216
9582                                                667         216

In [ ]:
#pd.set_option('display.max_rows', None)
#df_original['Rating_text']

In [21]:
df_original['Rating_text'].str.count('North Indian  Chinese  Continental  Italian').sum()

1

In [22]:
df_original['Rating_text'].str.count('Continental  American  Italian  Bakery').sum()

1

In [23]:
df_original['Rating_text'].str.count('350').sum()

7

In [24]:
df_original['Rating_text'].str.count('Chinese  North Indian').sum()

1

In [25]:
df_original['Cuisines'].unique()

array(['Continental  American  Asian  North Indian',
       'Thai  European  Mexican  North Indian  Chinese  Cafe',
       'Cafe  Italian  Continental  Chinese', ..., ' Indian  Persian',
       ' Desserts  Thai', ' American  Greek'], dtype=object)

In [26]:
df_original['Rating_text'].unique()

array(['Very Good', 'Excellent', 'Poor', 'Good', 'Average', 'Not rated',
       ' Average', ' Excellent', ' Very Good', ' Good', ' Poor',
       ' Not rated', ' 350',
       ' North Indian  Chinese  Continental  Italian',
       ' Chinese  North Indian', ' 200', ' 300', ' 250',
       ' Continental  American  Italian  Bakery', ' 40'], dtype=object)

In [27]:
df_original

,Restaurant_Name,Restaurant_ID,Price_range,Cuisines,Average_cost,Rating_text,Rating_color,Rating_votes,Rating,Address,City,City_id,Country_id,Locality
0,Hauz Khas Social,308322,3,Continental American Asian North Indian,1600,Very Good,5BA829,7931,4.3,9-A & 12 Hauz Khas Village New Delhi,New Delhi,1,1,Hauz Khas Village New Delhi
1,Qubitos - The Terrace Cafe,18037817,3,Thai European Mexican North Indian Chinese...,1500,Excellent,3F7E00,778,4.5,C-7 Vishal Enclave Opposite Metro Pillar 417...,New Delhi,1,1,Rajouri Garden New Delhi
2,The Hudson Cafe,312345,2,Cafe Italian Continental Chinese,850,Very Good,5BA829,1537,4.4,2524 1st Floor Hudson Lane Delhi University...,New Delhi,1,1,Delhi University-GTB Nagar New Delhi
3,Summer House Cafe,307490,3,Italian Continental,1850,Very Good,5BA829,1823,4.1,1st Floor DDA Shopping Complex Aurobindo Pla...,New Delhi,1,1,Hauz Khas New Delhi
4,38 Barracks,18241537,3,North Indian Italian Asian American,1600,Very Good,5BA829,840,4.4,M-38 Outer Circle Connaught Place New Delhi,New Delhi,1,1,Connaught Place New Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9597,Senor Iguanas,17582627,1,Mexican,0,Good,9ACD32,108,3.6,961 Hiline Rd Pocatello ID 83201,Pocatello,667,216,Pocatello Pocatello
9598,Sandpiper Restaurant & Lounge,17582625,3,American Seafood Steak,40,Good,9ACD32,85,3.6,1400 Bench Rd Pocatello ID 83201,Pocatello,667,216,Pocatello Pocatello
9599,Texas Roadhouse,17582668,3,American BBQ Steak,45,Good,9ACD32,83,3.5,560 Bullock Street Pocatello ID 83202,Pocatello,667,216,Chubbuck Pocatello
9600,Riverwalk Cafe,17582498,1,Asian Thai,10,Good,9ACD32,91,3.6,695 E Main St Lava Hot Springs ID 83246,Pocatello,667,216,Lava Hot Springs Pocatello
9601,Royal Hotel,17582499,1,Pizza Bar Food,0,Good,9ACD32,59,3.6,11 E Main St Lava Hot Springs ID 83246,Pocatello,667,216,Lava Hot Springs Pocatello

In [28]:
#df_original['Cuisines'] = df_original['Cuisines'].str.replace('Continental', '', regex=True)
#df_original['Cuisines'] = df_original['Cuisines'].str.replace('North Indian', 'NorthIndian', regex=True)
#df_original['Rating_text'] = df_original['Rating_text'].str.replace(' Very Good', 'Very Good', regex=True)
#df_original['Rating_text'] = df_original['Rating_text'].str.replace(' Excellent', 'Excellent', regex=True)
#df_original['Rating_text'] = df_original['Rating_text'].str.replace(' Poor', 'Poor', regex=True)
#df_original['Rating_text'] = df_original['Rating_text'].str.replace(' Average', 'Average', regex=True)
#df_original['Rating_text'] = df_original['Rating_text'].str.replace(' Not rated', 'Not rated', regex=True)
#df_original['Rating_text'] = df_original['Rating_text'].str.replace(' Good', 'Good', regex=True)


df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Continental', '', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Modern', '', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('North Indian', 'NorthIndian', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('North Indian ', 'NorthIndian', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('South Indian', 'SouthIndian', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Fast Food', 'FastFood', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Raw Meats', 'RawMeats', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Street Food', 'StreetFood', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('North Eastern', 'NorthEastern', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Finger Food', 'FingerFood', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Ice Cream', 'IceCream', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Chinese ', 'Chinese', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('British ', 'British', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Asian ', 'Asian', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Healthy Food', 'HealthyFood', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Mughlai ', 'Mughlai', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Coffee and Tea', 'Coffee-Tea', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Italian ', 'Italian', regex=True)
df_original.loc[:, 'Cuisines'] = df_original['Cuisines'].str.replace('Cafe  ', 'Cafe ', regex=True)

df_original.loc[:, 'Rating_text'] = df_original['Rating_text'].str.replace(' Very Good', 'Very Good', regex=True)
df_original.loc[:, 'Rating_text'] = df_original['Rating_text'].str.replace(' Excellent', 'Excellent', regex=True)
df_original.loc[:, 'Rating_text'] = df_original['Rating_text'].str.replace(' Good', 'Good', regex=True)
df_original.loc[:, 'Rating_text'] = df_original['Rating_text'].str.replace(' Poor', 'Poor', regex=True)
df_original.loc[:, 'Rating_text'] = df_original['Rating_text'].str.replace(' Average', 'Average', regex=True)
df_original.loc[:, 'Rating_text'] = df_original['Rating_text'].str.replace(' Not rated', 'Not rated', regex=True)



df_original = df_original[~df_original['Rating_text'].isin([' North Indian  Chinese  Continental  Italian', ' Continental  American  Italian  Bakery',' Chinese  North Indian',' 350',' 200',' 300',' 250',' 40'])]

In [29]:
df_original['Rating_text'].unique()

array(['VeryGood', 'Excellent', 'Poor', 'Good', 'Average', 'Not rated'],
      dtype=object)

In [30]:
#pd.set_option('display.max_rows', None)
df_original['Cuisines']

0                             American  Asian NorthIndian
1       Thai  European  Mexican  NorthIndian  Chinese ...
2                                  Cafe Italian   Chinese
3                                                Italian
4                     NorthIndian  Italian Asian American
                              ...
9597                                              Mexican
9598                             American  Seafood  Steak
9599                                 American  BBQ  Steak
9600                                           Asian Thai
9601                                      Pizza  Bar Food
Name: Cuisines, Length: 9585, dtype: object

In [31]:
df_original.shape

(9585, 14)

In [ ]:
df_ML = df_original[['Cuisines', 'Rating_text','Rating','City_id','Country_id','Average_cost']]
df_ML.to_csv('zomato_ml.csv', index=False)
df_ML

In [32]:
duplicates = df_original[df_original.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Restaurant_Name, Restaurant_ID, Price_range, Cuisines, Average_cost, Rating_text, Rating_color, Rating_votes, Rating, Address, City, City_id, Country_id, Locality]
Index: []

In [80]:
data1[0]['restaurants'][0]['restaurant']['photos_url']

'https://www.zomato.com/HauzKhasSocial/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop'

In [40]:
data1[0]

{'results_found': 17151,
 'restaurants': [{'restaurant': {'has_online_delivery': 1,
    'photos_url': 'https://www.zomato.com/HauzKhasSocial/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
    'url': 'https://www.zomato.com/HauzKhasSocial?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
    'price_range': 3,
    'apikey': 'b90e6a8c738410315a20c449fe2eb1b1',
    'user_rating': {'rating_text': 'Very Good',
     'rating_color': '5BA829',
     'votes': '7931',
     'aggregate_rating': '4.3'},
    'R': {'res_id': 308322},
    'name': 'Hauz Khas Social',
    'cuisines': 'Continental, American, Asian, North Indian',
    'is_delivering_now': 0,
    'deeplink': 'zomato://restaurant/308322',
    'menu_url': 'https://www.zomato.com/HauzKhasSocial/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
    'average_cost_for_two': 1600,
    'book_url': 'https://www.zomato.com/HauzKhasSocial/book?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
    'switch_to_order_menu': 0,
    'offers': [],
    'has_table_booking': 1,
    'location': {'latitude': '28.5542851000',
     'address': '9-A & 12, Hauz Khas Village, New Delhi',
     'city': 'New Delhi',
     'country_id': 1,
     'locality_verbose': 'Hauz Khas Village, New Delhi',
     'city_id': 1,
     'zipcode': '',
     'longitude': '77.1944706000',
     'locality': 'Hauz Khas Village'},
    'featured_image': 'https://b.zmtcdn.com/data/pictures/2/308322/cf86dbd8b8ca4d40682c7713f112cc07_featured_v2.jpg',
    'zomato_events': [{'event': {'display_date': '05 April - 21 May',
       'end_time': '01:00:00',
       'date_added': '2017-04-05 14:18:49',
       'start_date': '2017-04-05',
       'photos': [{'photo': {'photo_id': 185854,
          'order': 0,
          'type': 'NORMAL',
          'url': 'https://b.zmtcdn.com/data/zomato_events/photos/b73/ec1691986700e9839313d9353b2e4b73_1491382129.jpg',
          'md5sum': 'ec1691986700e9839313d9353b2e4b73',
          'uuid': 1491382088569328,
          'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/b73/ec1691986700e9839313d9353b2e4b73_1491382129.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}},
        {'photo': {'photo_id': 185884,
          'order': 1,
          'type': 'NORMAL',
          'url': 'https://b.zmtcdn.com/data/zomato_events/photos/3ce/8cda41e10df03e71d09faa00f64143ce_1491384739.jpg',
          'md5sum': '8cda41e10df03e71d09faa00f64143ce',
          'uuid': 1491384715122322,
          'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/3ce/8cda41e10df03e71d09faa00f64143ce_1491384739.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}],
       'share_url': 'http://www.zoma.to/r/308322',
       'description': "It's #IPL season and we're screening 'em all! Come one and all to witness the drama and pair it with our On Tap offer on beer - Stella + Hoegaarden! See you!",
       'title': 'IPL Match Screenings',
       'display_time': '10:00 am - 01:00 am',
       'book_link': '',
       'restaurants': [],
       'disclaimer': 'Restaurants are solely responsible for the service; availability and quality of the events including all or any cancellations/ modifications/ complaints.',
       'friendly_start_date': '05 April',
       'is_end_time_set': 1,
       'event_id': 118139,
       'end_date': '2017-05-21',
       'event_category': 0,
       'friendly_end_date': '21 May',
       'is_active': 1,
       'start_time': '10:00:00',
       'is_valid': 1,
       'event_category_name': ''}}],
    'currency': 'Rs.',
    'id': '308322',
    'thumb': 'https://b.zmtcdn.com/data/pictures/2/308322/cf86dbd8b8ca4d40682c7713f112cc07_featured_v2.jpg',
    'establishment_types': [],
    'events_url': 'https://www.zomato.com/HauzKhasSocial/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1'}},
  {'restaurant': {'has_online_delivery': 0,
    'photos_url': 'https://www.zomato.com/ncr/qubitos-the-terrace-cafe-rajouri-garden-new-delhi/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
    'url': 'https://www.zomato.com/ncr/qubitos-the-terrace-cafe-rajouri-garden-new-delhi?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
    'price_range': 3,
    'apikey': 'b90e6a8c738410315a20c449fe2eb1b1',
    'user_rating': {'rating_text': 'Excellent',
     'rating_color': '3F7E00',
     'votes': '778',
     'aggregate_rating': '4.5'},
    'R': {'res_id': 18037817},
    'name': 'Qubitos - The Terrace Cafe',
    'cuisines': 'Thai, European, Mexican, North Indian, Chinese, Cafe',
    'is_delivering_now': 0,
    'deeplink': 'zomato://restaurant/18037817',
    'menu_url': 'https://www.zomato.com/ncr/qubitos-the-terrace-cafe-rajouri-garden-new-delhi/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
    'average_cost_for_two': 1500,
    'book_url': 'https://www.zomato.com/ncr/qubitos-the-terrace-cafe-rajouri-garden-new-delhi/book?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
    'switch_to_order_menu': 0,
    'offers': [],
    'has_table_booking': 1,
    'location': {'latitude': '28.6471325000',
     'address': 'C-7, Vishal Enclave, Opposite Metro Pillar 417, Rajouri Garden, New Delhi',
     'city': 'New Delhi',
     'country_id': 1,
     'locality_verbose': 'Rajouri Garden, New Delhi',
     'city_id': 1,
     'zipcode': '',
     'longitude': '77.1177015000',
     'locality': 'Rajouri Garden'},
    'featured_image': 'https://b.zmtcdn.com/data/pictures/7/18037817/235a118e0c275deae64db9a2a4b3d6a2_featured_v2.png',
    'zomato_events': [{'event': {'display_date': '16 April - 17 April',
       'end_time': '00:00:00',
       'date_added': '2017-04-11 13:52:17',
       'start_date': '2017-04-16',
       'photos': [{'photo': {'photo_id': 187914,
          'order': 0,
          'type': 'NORMAL',
          'url': 'https://b.zmtcdn.com/data/zomato_events/photos/4ba/f3b41dc8dba54cff2c2efac70103b4ba_1491898937.jpg',
          'md5sum': 'f3b41dc8dba54cff2c2efac70103b4ba',
          'uuid': 1491898928184580,
          'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/4ba/f3b41dc8dba54cff2c2efac70103b4ba_1491898937.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}],
       'share_url': 'http://www.zoma.to/r/18037817',
       'description': 'Welcome your Sunday some Live Fusion with Suboni Brothers only at Qubitos - The Terrace Cafe on 16th April, Sunday.\r\nThey play some great live fusion for you in fusion night. Be a part of amazing night!!\r\n\r\n\r\nFor Reservation : 9599800400, 9599800500\r\n\r\nDate : 16 April, Sunday\r\nTime : 9 PM onwards\r\nVenue : Qubitos - The Terrace Cafe',
       'title': 'Live Fusion Night with Suboni Brothers',
       'display_time': '09:00 pm - 12:00 am',
       'book_link': '',
       'restaurants': [],
       'disclaimer': 'Restaurants are solely responsible for the service; availability and quality of the events including all or any cancellations/ modifications/ complaints.',
       'friendly_start_date': '16 April',
       'is_end_time_set': 1,
       'event_id': 119563,
       'end_date': '2017-04-17',
       'event_category': 0,
       'friendly_end_date': '17 April',
       'is_active': 1,
       'start_time': '21:00:00',
       'is_valid': 1,
       'event_category_name': ''}},
     {'event': {'display_date': '19 April - 20 April',
       'end_time': '01:00:00',
       'date_added': '2017-04-15 17:20:41',
       'start_date': '2017-04-19',
       'photos': [],
       'share_url': 'http://www.zoma.to/r/18037817',
       'description': 'On this wednesday is going to be perfect at your favourite Qubitos - The Terrace Cafe this week with Raenit Singh Ft. Sarvagya Band performing Live!!!\r\n\r\nRelax your evening with a soulfoul voice and a new ambiance, delectable food and enjoy the awsome live performance.\r\n\r\nFor Reservation : 9599800400,9599800500\r\n\r\nDate : 19th April, Wednesday\r\nTime : 9 PM Onwards\r\nVenue : Qubitos - The Terrace Cafe',
       'title': 'Raenit Singh Ft. Sarvagya The Band, Qubitos',
       'display_time': '09:00 pm - 01:00 am',
       'book_link': '',
       'restaurants': [],
       'disclaimer': 'Restaurants are solely responsible for the service; availability and quality of the events including all or any cancellations/ modifications/ complaints.',
       'friendly_start_date': '19 April',
       'is_end_time_set': 1,
       'event_id': 120517,
       'end_date': '2017-04-20',
       'event_category': 0,
       'friendly_end_date': '20 April',
       'is_active': 1,
       'start_time': '21:00:00',
       'is_valid': 1,
       'event_category_name': ''}}],
    'currency': 'Rs.',
    'id': '18037817',
    'thumb': 'https://b.zmtcdn.com/data/pictures/7/18037817/235a118e0c275deae64db9a2a4b3d6a2_featured_v2.png',
    'establishment_types': [],
    'events_url': 'https://www.zomato.com/ncr/qubitos-the-terrace-cafe-rajouri-garden-new-delhi/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1'}},
  {'restaurant': {'has_online_delivery': 1,
    'photos_url': 'https://www.zomato.com/ncr/the-hudson-cafe-delhi-university-gtb-nagar-new-delhi/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
    'url': 'https://www.zomato.com/ncr/the-hudson-cafe-delhi-university-gtb-nagar-new-delhi?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
    'price_range': 2,
    'apikey': 'b90e6a8c738410315a20c449fe2eb1b1',
    'user_rating': {'rating_text': 'Very Good',
     'rating_color': '5BA829',
     'votes': '1537',
     'aggregate_rating': '4.4'},
    'R': {'res_id': 312345},
    'name': 'The Hudson Cafe',
    'has_table_booking': 0,
    'is_delivering_now': 0,
    'deeplink': 'zomato://restaurant/312345',
    'menu_url': 'https://www.zomato.com/ncr/the-hudson-cafe-delhi-university-gtb-nagar-new-delhi/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
    'average_cost_for_two': 850,
    'switch_to_order_menu': 0,
    'offers': [],
    'cuisines': 'Cafe, Italian, Continental, Chinese',
    'location': {'latitude': '28.6949468000',
     'address': '2524, 1st Floor, Hudson Lane, Delhi University-GTB Nagar, New Delhi',
     'city': 'New Delhi',
     'country_id': 1,
     'locality_verbose': 'Delhi University-GTB Nagar, New Delhi',
     'city_id': 1,
     'zipcode': '',
     'longitude': '77.2043172000',
     'locality': 'Delhi University-GTB Nagar'},
    'featured_image': 'https://b.zmtcdn.com/data/pictures/5/312345/0345d29e190502c100190e455b4334a7_featured_v2.jpg',
    'currency': 'Rs.',
    'id': '312345',
    'thumb': 'https://b.zmtcdn.com/data/pictures/5/312345/0345d29e190502c100190e455b4334a7_featured_v2.jpg',
    'establishment_types': [],
    'events_url': 'https://www.zomato.com/ncr/the-hudson-cafe-delhi-university-gtb-nagar-new-delhi/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1'}},
  {'restaurant': {'has_online_delivery': 0,
    'photos_url': 'https://www.zomato.com/ncr/summer-house-cafe-hauz-khas-new-delhi/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
    'url': 'https://www.zomato.com/ncr/summer-house-cafe-hauz-khas-new-delhi?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
    'price_range': 3,
    'apikey': 'b90e6a8c738410315a20c449fe2eb1b1',
    'user_rating': {'rating_text': 'Very Good',
     'rating_color': '5BA829',
     'votes': '1823',
     'aggregate_rating': '4.1'},
    'R': {'res_id': 307490},
    'name': 'Summer House Cafe',
    'cuisines': 'Italian, Continental',
    'is_delivering_now': 0,
    'deeplink': 'zomato://restaurant/307490',
    'menu_url': 'https://www.zomato.com/ncr/summer-house-cafe-hauz-khas-new-delhi/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
    'average_cost_for_two': 1850,
    'book_url': 'https://www.zomato.com/ncr/summer-house-cafe-hauz-khas-new-delhi/book?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
    'switch_to_order_menu': 0,
    'offers': [],
    'has_table_booking': 1,
    'location': {'latitude': '28.5525204000',
     'address': '1st Floor, DDA Shopping Complex, Aurobindo Place, Hauz Khas, New Delhi',
     'city': 'New Delhi',
     'country_id': 1,
     'locality_verbose': 'Hauz Khas, New Delhi',
     'city_id': 1,
     'zipcode': '110016',
     'longitude': '77.2038090000',
     'locality': 'Hauz Khas'},
    'featured_image': 'https://b.zmtcdn.com/data/pictures/0/307490/e00bae6487490c53d94f6bf18aa85a62_featured_v2.jpg',
    'zomato_events': [{'event': {'display_date': '16 April - 17 April',
       'end_time': '00:30:00',
       'date_added': '2017-01-11 23:04:19',
       'start_date': '2017-04-16',
       'photos': [{'photo': {'photo_id': 162967,
          'order': 0,
          'type': 'FEATURED',
          'url': 'https://b.zmtcdn.com/data/zomato_events/photos/399/87b08a14dc80dfdc86a690fd44700399_1484156059.jpg',
          'md5sum': '87b08a14dc80dfdc86a690fd44700399',
          'uuid': 56050088176,
          'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/399/87b08a14dc80dfdc86a690fd44700399_1484156059.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}],
       'share_url': 'http://www.zoma.to/r/307490',
       'description': "Sundays are the best days to dance! Why? Because it's Salsa Sundays tonight at #summerhousecafe! Get groovin'!",
       'title': 'SALSA NIGHT',
       'display_time': '09:00 pm - 12:30 am',
       'book_link': '',
       'restaurants': [],
       'disclaimer': 'Restaurants are solely responsible for the service; availability and quality of the events including all or any cancellations/ modifications/ complaints.',
       'friendly_start_date': '16 April',
       'is_end_time_set': 1,
       'event_id': 100228,
       'end_date': '2017-04-17',
       'event_category': 1,
       'friendly_end_date': '17 April',
       'is_active': 1,
       'start_time': '21:00:00',
       'is_valid': 1,
       'event_category_name': ''}},
     {'event': {'display_date': '17 April - 18 April',
       'end_time': '00:30:00',
       'date_added': '2017-01-11 22:06:46',
       'start_date': '2017-04-17',
       'photos': [{'photo': {'photo_id': 162950,
          'order': 0,
          'type': 'FEATURED',
          'url': 'https://b.zmtcdn.com/data/zomato_events/photos/72e/683eb071710b22f4d08e21ce201fc72e_1484152606.jpg',
          'md5sum': '683eb071710b22f4d08e21ce201fc72e',
          'uuid': 52563289334,
          'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/72e/683eb071710b22f4d08e21ce201fc72e_1484152606.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}],
       'share_url': 'http://www.zoma.to/r/307490',
       'description': "Don't hide coz its monday! Come out n sing your heart out at #summerhousecafe tonight. #karaoke nights with Esther and Radhika Shankar.",
       'title': 'Karaoke Night',
       'display_time': '09:00 pm - 12:30 am',
       'book_link': '',
       'restaurants': [],
       'disclaimer': 'Restaurants are solely responsible for the service; availability and quality of the events including all or any cancellations/ modifications/ complaints.',
       'friendly_start_date': '17 April',
       'is_end_time_set': 1,
       'event_id': 100212,
       'end_date': '2017-04-18',
       'event_category': 1,
       'friendly_end_date': '18 April',
       'is_active': 1,
       'start_time': '21:00:00',
       'is_valid': 1,
       'event_category_name': ''}},
     {'event': {'display_date': '18 April - 19 April',
       'end_time': '00:30:00',
       'date_added': '2017-02-15 17:00:57',
       'start_date': '2017-04-18',
       'photos': [{'photo': {'photo_id': 172943,
          'order': 0,
          'type': 'FEATURED',
          'url': 'https://b.zmtcdn.com/data/zomato_events/photos/91a/c303c2d4121e612349b754d12805a91a_1487158257.jpg',
          'md5sum': 'c303c2d4121e612349b754d12805a91a',
          'uuid': 58029677332,
          'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/91a/c303c2d4121e612349b754d12805a91a_1487158257.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}],
       'share_url': 'http://www.zoma.to/r/307490',
       'description': 'Enjoy live band followed by comedy night in association with higher learning productions every tuesday.',
       'title': 'COMEDY NIGHT',
       'display_time': '09:00 pm - 12:30 am',
       'book_link': '',
       'restaurants': [],
       'disclaimer': 'Restaurants are solely responsible for the service; availability and quality of the events including all or any cancellations/ modifications/ complaints.',
       'friendly_start_date': '18 April',
       'is_end_time_set': 1,
       'event_id': 107961,
       'end_date': '2017-04-19',
       'event_category': 1,
       'friendly_end_date': '19 April',
       'is_active': 1,
       'start_time': '21:00:00',
       'is_valid': 1,
       'event_category_name': ''}},
     {'event': {'display_date': '19 April - 20 April',
       'end_time': '00:30:00',
       'date_added': '2017-04-13 18:14:03',
       'start_date': '2017-04-19',
       'photos': [{'photo': {'photo_id': 188665,
          'order': 0,
          'type': 'NORMAL',
          'url': 'https://b.zmtcdn.com/data/zomato_events/photos/c5a/65d3c4551287380ddadbb285581f3c5a_1492087484.jpg',
          'md5sum': '65d3c4551287380ddadbb285581f3c5a',
          'uuid': 1492087483255591,
          'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/c5a/65d3c4551287380ddadbb285581f3c5a_1492087484.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}],
       'share_url': 'http://www.zoma.to/r/307490',
       'description': 'Designed to showcase sounds and styles that champion underground culture, #BoxoutWednesdays help build and serve a community that remains neglected by mainstream media.\r\n\r\n19th april gig sees a special edition with experimental Norwegian house and techno pioneer Bjørn Torske bringing his Scandinavian space disco sound to India. \r\n\r\nActive as a DJ and producer for nearly 20 years, he has been a central figure through out the ascension of the Norwegian scene.\r\n\r\nWith support from Moniker.',
       'title': 'BoxoutWednesdays #007 w/ bj&oslash;rn torske &amp; moniker',
       'display_time': '09:00 pm - 12:30 am',
       'book_link': '',
       'restaurants': [],
       'disclaimer': 'Restaurants are solely responsible for the service; availability and quality of the events including all or any cancellations/ modifications/ complaints.',
       'friendly_start_date': '19 April',
       'is_end_time_set': 1,
       'event_id': 120172,
       'end_date': '2017-04-20',
       'event_category': 0,
       'friendly_end_date': '20 April',
       'is_active': 1,
       'start_time': '21:00:00',
       'is_valid': 1,
       'event_category_name': ''}},
     {'event': {'display_date': '06 May - 07 May',
       'end_time': '00:30:00',
       'date_added': '2017-04-12 17:33:14',
       'start_date': '2017-05-06',
       'photos': [{'photo': {'photo_id': 188341,
          'order': 0,
          'type': 'NORMAL',
          'url': 'https://b.zmtcdn.com/data/zomato_events/photos/8b4/3c54cd4aaaceaa0c77211367c92018b4_1491998594.jpg',
          'md5sum': '3c54cd4aaaceaa0c77211367c92018b4',
          'uuid': 1491998573653700,
          'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/8b4/3c54cd4aaaceaa0c77211367c92018b4_1491998594.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}],
       'share_url': 'http://www.zoma.to/r/307490',
       'description': 'Helsinki Nights presents San Soda\r\n\r\nDISCO SET \r\n\r\n6th May, Saturday\r\n\r\n9:30pm Onwards',
       'title': 'Helsinki Nights presents San Soda',
       'display_time': '09:30 pm - 12:30 am',
       'book_link': '',
       'restaurants': [],